header {
  background-color: #000;
}
.mainNav {
  font-size: inherit;
  text-align: center;
  list-style: none;
  padding-top: 0%;
}
.authPage {
  padding-bottom: 10%;
}
.mainNav p {
  float: left;
  color: #e25822;
}

.mainNav li {
  font-size: inherit;
  display: inline-block;
  margin-left: 30px;
  color: #000;
  float: right;
}
.home {
  color: #fff;
  text-decoration: none;
}
.mainNav li:after {
  content: ' ';
  display: block;
  height: 2px;
  width: auto;
  background-color: #e25822;
}
.link {
  text-decoration: none;
  color: #000;
}
@media only screen and (max-width: 1000px) {
  .mainNav li {
    font-size: 70%;
    margin-left: 20px;
  }
}
