.section {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  color: #000;
}
h3 {
  font-size: 170%;
}
p {
  font-size: 150%;
  margin-bottom: 20px;
}
img {
  width: 70%;
  height: auto;
}

@media only screen and (max-width: 800px) {
  .section {
    flex-wrap: wrap;
  }
  h3 {
    font-size: 140%;
  }
  p {
    font-size: 110%;
  }
  .btn {
    margin-bottom: 20px;
  }
  img {
    width: 60%;
  }
}
