.section {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row-reverse;
  text-align: center;
  align-items: center;
  color: #000;
  padding: 5px;
  background-color: rgb(255, 248, 248);
}
h3 {
  font-size: 170%;
  text-transform: uppercase;
}
p {
  font-size: 150%;
  margin-bottom: 20px;
}
img {
  width: 60%;
  height: auto;
}

@media only screen and (max-width: 800px) {
  .section {
    flex-wrap: wrap;
  }
  h3 {
    font-size: 140%;
  }
  p {
    font-size: 110%;
  }
  .btn {
    margin-bottom: 20px;
  }
  img {
    width: 50%;
  }
}
