.section {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  color: #000;
}
h3 {
  font-size: 170%;
}
p {
  font-size: 150%;
}
img {
  width: 80%;
  height: auto;
}
.btn {
  padding: 10px 30px;
  text-align: center;
  font-family: inherit;
  background-color: #e25822;
  border: 1px solid #e25822;
  margin-top: 20px;

  font-size: 70%;
}
.btn:hover {
  background-color: #d34912;
  border: 1px solid #d34912;
}
@media only screen and (max-width: 800px) {
  .section {
    flex-wrap: wrap;
  }
  h3 {
    font-size: 140%;
  }
  p {
    font-size: 110%;
  }
  .btn {
    margin-bottom: 20px;
  }
  img {
    width: 70%;
  }
}
